body {
  margin: 0;
  padding: 0;
}

.profile_header {
  width: 100vw;
  height: 96px;
  object-fit: cover;
}

.introduce {
  margin-left: 8px;
}

.profile_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_username {
  font-size: 28px;
  font-weight: bold;
}

.profile_handle {
  color: #808080;
}

.profile_bio {
  margin-top: 7px;
  margin-bottom: 7px;
}

@media (min-width: 769px) {
  .profile_header {
    width: calc(100% - 48px);
    margin-left: 48px;
  }

  .introduce {
    margin-left: 48px;
  }
}
