{% extends "app/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<div class="tweets">
  {% for t in tweets %}
  <div class="tweet">
    <div class="poster_info">
      <img src="{{ t.tweet_by.icon.url }}" class="poster_icon" />
      <div class="poster_username">{{t.tweet_by.username}}</div>
      <div class="poster_handle">{{t.tweet_by.handle}}</div>
    </div>
    <div class="tweet_content">{{t.tweet_content}}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
