{% extends "app/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="all_tweets">
  {% for t in tweets %}
  <div class="tweet">
    <a href="{% url 'account' t.tweet_by.handle %}">
      <img src="{{ t.tweet_by.icon.url }}" class="poster_icon" />
    </a>
    <div class="text_content">
      <div class="poster_info">
        <a href="{% url 'account' t.tweet_by.handle %}">
          <div class="poster_username">{{t.tweet_by.username}}</div>
        </a>
        <a href="{% url 'account' t.tweet_by.handle %}">
          <div class="poster_handle">@{{t.tweet_by.handle}}</div>
        </a>
      </div>
      <div class="tweet_content">{{t.tweet_content}}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
